@import '../common/_variables.css';

.graphWrapper {
  border: 1px solid var(--color-6);
  border-radius: 2.5rem;
  padding: 3.75rem 2.25rem;

  &.relative {
    position: relative;
  }

  @media (max-width: $mobileBigScreen) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2.4rem;
  }
}

.graphWrapperHeader {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.75rem;

  @media (max-width: $mobileBigScreen) {
    justify-content: center;
    margin-bottom: 1.75rem;
  }
}

.graphDateButtonsWrapper {
  display: flex;
  background: var(--color-4);
  border-radius: 6.25rem;
  position: relative;
}

.graphDateBtn {
  padding: 0.625rem 1.5rem;
  font-size: 1.12rem;
  color: var(--color-5);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 6.6rem;
  z-index: 2;
  transition: var(--transitionDuration) color var(--transitionFunc);

  &.graphDateBtnActive {
    color: var(--color-1);
    font-weight: 600;
  }

  &:hover {
    color: var(--hover-color-1);
  }

  @media (max-width: $mobileBigScreen) {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    width: 7rem;
  }
}

.graphDateSlider {
  width: 6.6rem;
  padding: 0.625rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100%;
  border-radius: 6.25rem;
  background: #fff;
  border: 1px solid var(--color-1);
  transition: var(--transitionDuration) left var(--transitionFunc);

  @media (max-width: $mobileBigScreen) {
    padding: 1rem 1rem;
    width: 7rem;
  }
}

.graphsMainWrapper {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  max-width: 1600px;
  margin: 0 auto;

  @media (max-width: $mobileBigScreen) {
    gap: 1.5rem;
    overflow: hidden;
  }
}

.accountBarGraph {
  fill: var(--graph-color-3);
  transition: var(--transitionDuration) fill var(--transitionFunc),
    var(--transitionDuration) opacity var(--transitionFunc), var(--transitionDuration) all var(--transitionFunc);

  &:hover {
    fill: var(--graph-color-2);
  }

  &.active {
    fill: var(--graph-color-2);
  }
}

.tooltipWrapper {
  position: relative;
  touch-action: pan-y;

  &.electionWrapper {
    display: flex;
    justify-content: space-between;
  }
}

.electionLegend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & .electionLegendItem {
    border-radius: 50%;
    position: relative;

    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.pinch {
  overflow: visible !important;
}

.tooltipBase {
  box-shadow: var(--box-shadow);
  position: absolute;
  background: var(--color-3);
  padding: 1.25rem;
  max-height: 150px;
  border-radius: 1rem;
  border: 1px solid var(--color-6);
  min-width: max-content;
  z-index: 20;

  &.alwaysTop {
    top: 0 !important;
  }

  &.centeredTransform {
    transform: translateX(-50%);
  }

  &.barTooltip {
    transform: translateY(calc(-100% - 1rem)) translateX(-50%);
  }
}

.tooltipDate {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-5);
  margin-bottom: 0.75rem;

  &.centered {
    text-align: center;
  }
}

.tooltipInfo1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-1);

  &.breakWord {
    word-break: break-word;
  }

  &.centered {
    text-align: center;
  }
}

.tooltipInfo2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-2);
  margin-top: 0.75rem;

  &.breakWord {
    word-break: break-word;
  }

  &.centered {
    text-align: center;
  }
}

.circle {
  stroke-width: 4;
  border-radius: 4px;
}

.circleHover {
  transition: var(--transitionDuration) all var(--transitionFunc);

  &:hover {
    fill: var(--color-8);
    stroke: var(--color-8);
  }
}

.line {
  stroke-width: 2;
  fill: var(--color-1);
  stroke: var(--color-1);
}

.mobileDtnWrapper {
  display: flex;
  justify-content: center;
}

.graphTitle {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  &.graphTitleElection {
    & .left {
      color: var(--color-5);
    }
  }

  & .left {
    color: var(--color-1);
  }

  @media (max-width: $mobileBigScreen) {
    padding: 0 1rem;
  }
}

.graphBtns {
  display: flex;
  align-content: center;
}

.plusMinusWrapper {
  background: var(--color-4);
  border-radius: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 1.5rem;

  .plusMinusBtn {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--color-5);
    transition: var(--transitionDuration) color var(--transitionFunc);

    &:hover {
      color: var(--hover-color-1);
    }

    @media (max-width: $mobileBigScreen) {
      & svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @media (max-width: $mobileBigScreen) {
    margin-right: 0;
    margin-left: 1.5rem;
  }
}
