@import 'common/_fonts.css';
@import 'common/_layout.css';
@import 'common/_variables.css';

#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main.main-content {
  flex-grow: 1;
}
