$color-1: #0088cc;
$color-2: #000000;
$color-3: #ffffff;
$color-4: #f7f8fa;
$color-5: #728a96;
$color-6: #dde3e6;
$color-7: #d3dde1;
$color-8: #e5f3fa;
$color-9: #eef1f2;
$color-10: #c6d3d8;
$hover-color-1: #0099e5;
$graph-color-1: rgba(114, 138, 150, 0.1);
$graph-color-2: rgba(0, 136, 204, 0.24);
$box-shadow: 0 0.15rem 1.9rem rgba(114, 138, 150, 0.12);
$transitionDuration: 0.35s;
$transitionFunc: ease;
$desktopLargestScreen: 1920px;
$desktopLargestScreenMinus: 1919px;
$desktopBigScreen: 1440px;
$desktopBigScreenMinus: 1439px;
$desktopMediumScreen: 1280px;
$desktopMediumScreenMinus: 1279px;
$desktopSmallScreen: 1024px;
$desktopSmallScreenMinus: 1023px;
$mobileBigScreen: 720px;
$mobileBigScreenMinus: 719px;
$mobileMediumScreen: 414px;
$mobileMediumScreenMinus: 413px;
$mobileSmallScreen: 320px;
$mobileSmallScreenMinus: 319px;

:root {
  --color-1: $color-1;
  --color-2: $color-2;
  --color-3: $color-3;
  --color-4: $color-4;
  --color-5: $color-5;
  --color-6: $color-6;
  --color-7: $color-7;
  --color-8: $color-8;
  --color-9: $color-9;
  --color-10: $color-10;
  --hover-color-1: $hover-color-1;
  --graph-color-1: $graph-color-1;
  --graph-color-2: $graph-color-2;
  --box-shadow: $box-shadow;
  --transitionDuration: $transitionDuration;
  --transitionFunc: $transitionFunc;
  --desktopLargestScreen: $desktopLargestScreen;
  --desktopBigScreen: $desktopBigScreen;
  --desktopMediumScreen: $desktopMediumScreen;
  --desktopSmallScreen: $desktopSmallScreen;
  --mobileBigScreen: $mobileBigScreen;
  --mobileMediumScreen: $mobileMediumScreen;
  --mobileSmallScreen: $mobileSmallScreen;
}
